:root {
  --color-primary: #CF1F83;
  --color-primary-darker: #911B71;
  --color-primary-much-lighter: #F7C0E1;
  --color-offwhite  : #FAFAFA;

  --color-text-first  : rgba(0, 0, 0, 0.87);
  --color-text-second  : rgba(0, 0, 0, 0.6);
  --color-text-disabled  : rgba(0, 0, 0, 0.38);

  --color-black-hover  :rgba(0, 0, 0, 0.13);
  --color-white-hover  : rgba(255, 255, 255, 0.25);

  --color-danger  : #F2994A;
}

@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@400;700&family=Source+Sans+Pro:ital,wght@0,400;0,600;1,400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  body, p {
    @apply font-sourcepro;
  }

  h1 {
    @apply font-merriweather font-bold text-6xl tracking-tighter;
  }

  h4 {
    @apply font-sourcepro text-4xl;
  }

  a, a:active, a:focus, button, button:active, button:focus, div, div:active, div:focus {
    outline: none;
  }

}
